/* 기본 스타일 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video {
  flex: 1; /* 데스크탑 환경에서 비디오가 더 크게 보임 */
  max-width: 70%; /* 최대 너비 제한 */
}

.select {
  margin-left: 10px;
  width: 150px; /* 드롭다운 박스 크기 조절 */
}

/* 모달 스타일 */
.modal {
  background: darkslategray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* 모달 최대 너비 제한 */
  margin: auto; /* 중앙 정렬 */
}

.modal h2 {
  margin-bottom: 10px;
}

.modal button {
  margin-top: 10px;
  margin-right: 5px;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.button {
  margin-top: 10px; /* 버튼과 드롭다운 사이의 여백 */
}

/* 모바일 환경 */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 세로로 정렬 */
  }

  .video {
    width: 100%; /* 비디오 화면 꽉 차게 */
    max-width: none; /* 너비 제한 해제 */
  }

  .select {
    width: 100%; /* 드롭다운 박스 화면 꽉 차게 */
    margin-top: 10px;
    margin-left: 0;
  }
}
